<div *ngIf="baller != null">
    <!-- Baller details -->
    <div style="width: 50%; float: left;">
        <ul>
            <li>
                Name: {{baller.name}}
            </li>
            <li>
                Club: {{baller.club}}
            </li>
            <li>
                Age: {{baller.age}}
            </li>
            <li>
                Height: {{baller.height}}
            </li>
            <li>
                Weight: {{baller.weight}}
            </li>
            <li>
                Value: {{baller.value |  number: '1.0-0' }} €
            </li>
            <li>
                Wage: {{baller.wage |  number: '1.0-0' }} € / per week
            </li>
        </ul>
    </div>
    <!-- Charts -->
    <div style="width: 50%; float: right;">
        <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
        </canvas>
    </div>
</div>
<div class="ballerIsNull" *ngIf="baller == null">
    Please select baller!
</div>