ul {
    font-size: large;
    list-style-type: none;
    padding: 0.5em; 
    margin-left: 0.5em;
}

li {
    margin-top: 1em;
}

.ballerIsNull {
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-size: 30px;
    color: rgb(143, 8, 8);
}