<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Club</th>
        <th scope="col">Age</th>
        <th scope="col">Height (cm)</th>
        <th scope="col">Weight (kg)</th>
        <th scope="col">Value (€)</th>
        <th scope="col">Wage (€/per week)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let baller of ballers" (click)="onBallerClick(baller)" tra>
        <td>{{ baller.name }}</td>
        <td>{{ baller.club }}</td>
        <td>{{ baller.age }}</td>
        <td>{{ baller.height }}</td>
        <td>{{ baller.weight }}</td>
        <td>{{ baller.value | number: '1.0-0' }}</td>
        <td>{{ baller.wage | number: '1.0-0'}}</td>
      </tr>
    </tbody>
  </table>